@model List<Encuesta>

@{
    ViewData["Title"] = "Administrar Encuestas";
}

<h2>Administrar Encuestas</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var encuesta in Model)
        {
            <tr>
                <td>@encuesta.Nombre</td>
                <td>@encuesta.Descripcion</td>
                <td>
                    <button id="copyLinkButton" class="btn btn-secondary" data-id="@encuesta.IdAux">
                        <i class="fa fa-copy"></i> Copiar link de acceso
                    </button>

                    <a href="@Url.Action("AgregarCampoEncuesta", new { Id = encuesta.IdAux })" class="btn btn-primary">
                        <i class="fa fa-plus"></i> Agregar Campo
                    </a>
                    <form asp-action="EliminarEncuesta" method="post" style="display:inline;">
                        <input type="hidden" name="Id" value="@encuesta.IDEncuesta" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar esta encuesta?');">
                            <i class="fa fa-trash"></i> Eliminar
                        </button>
                    </form>
                    <a href="@Url.Action("EditarEncuesta", new { Id = encuesta.IdAux })" class="btn btn-warning">
                        <i class="fa fa-edit"></i> Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    document.getElementById('copyLinkButton').addEventListener('click', function () {
        var baseUrl = window.location.origin;
        var idAux = this.getAttribute('data-id');
        var relativeUrl = '@Url.Action("ResponderEncuesta")' + '?Id=' + idAux;
        var fullUrl = baseUrl + relativeUrl;

        var dummy = document.createElement('input');
        document.body.appendChild(dummy);
        dummy.value = fullUrl;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);
        alert('Link copiado exitosamente ');
    });
</script>

